.intro h1 {
  font-size: 3.5em;
}

.page-accueil {
  text-align: center;
  font-size: 1.2em;
}

.intro p {
  font-weight: lighter;
}


.informations-complementaires {
  margin-top: 3em;
  padding: 1em 1em 2em;

  font-size: 2em;
  color: black;
}

.bandeau-bleu {
  background: #283573;
  color: white;
}

.informations-complementaires ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  list-style-type: none;
}

.informations-complementaires li {
  font-size: 0.6em;
}

.apercu {
  background: url(images/apercu.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 500px;
}
