.questionnaire {
  background: white;
  border-radius: 5px;
  padding: 0.5em 2em;
}

fieldset {
  border: none;
}

.entete {
  display: grid;
  grid-template-columns: 80% 20%;

  padding-bottom: 1em;
}

fieldset, .entete {
  border-bottom: solid 1px #e7e7e7;
}

.entete h2 {
  margin: 0;

  font-size: 1.6em;
}

.entete h3 {
  margin: 0;

  color: #999;
  font-weight: lighter;
  font-size: 0.8em;
}

.entete a {
  padding-top: 0.6em;

  text-align: right;
  text-decoration: none;
  font-weight: bold;
  color: #487ef2;
}

.question {
  padding: 1em 0;
  line-height: 1.9em;
}

.question h2 {
  font-size: 1em;
}

.question input[type="text"] {
  font-size: 1em;

  width: 30em;
  height: 2em;
  padding-left: 1em;
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  background: #fcfcfd;
}

.question label {
  font-weight: lighter;
  padding-left: 0.5em;
}

.pied {
  border-top: solid 1px #e7e7e7;
}

