/*

bleu marine : #0d4269
bleu moyen : #456d96
bleu cliquable : #1b7cc4

gris liserés : #ebedf0

vert pâle : #caefcb
vert : #1aaf54
vert foncé : #378348
jaune pâle : #fff1ce
orange : #f9b049
rouge : #ce1b25

NOUVELLES COULEURS - LES PRÉCÉDENTES SONT À MIGRER

Bleus :
- standard : #08416a
- cliquable : #0f7ac7

Typographies :
- foncé : #2f3a43
- moyen : #929292
- clair : #abb6bf

Couleurs complémentaires :
- rouge : #e32630
- orange : #ff9940
- jaune : #fcdf41
- vert : #4cb963

Fonds :
- gris pâle : #fafbfc

Contours saisie :
- argent : #cecece
- or : #fbb13c

*/
